.navbar-default {
  background-color: #22313c;
}

.navbar-default a {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.navbar-default a:active, .navbar-default a:hover, .navbar-default a:focus {
  color: #fff;
  text-decoration: underline;;
}

.navbar-brand {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
